defaults
auth            on

{% if SMTP_PORT > 25 %}
tls             on
{% endif %}
{% if SMTP_PORT == 587 %}
tls_starttls    on
{% elseif %}
{% if SMTP_PORT > 25 && SMTP_CHECK_CERTS != Off %}
tls_trust_file  /etc/ssl/certs/ca-certificates.crt
{% endif %}

{% if SMTP_HOST %}
account         default
host            {{ SMTP_HOST }}
port            {{ SMTP_PORT }}
from            {{ SMTP_USER }}
user            {{ SMTP_USER }}
password        {{ SMTP_PASS }}
{% endif %}