[newrelic]
{% if NEWRELIC_LICENSE is defined and NEWRELIC_LICENSE %}
extension = "newrelic.so"
{% endif %}

newrelic.license = "{{ NEWRELIC_LICENSE }}"

{% if CONFIG__DEFAULT__WEB__SECURE__BASE_URL is defined %}
newrelic.appname = "{{ CONFIG__DEFAULT__WEB__SECURE__BASE_URL }}"
{% endif %}

newrelic.logfile = "/var/log/php/newrelic-agent.log"
newrelic.daemon.logfile = "/var/log/php/newrelic-daemon.log"
