[supervisord]
logfile=/dev/null
pidfile=/var/run/supervisord.pid
nodaemon=true
umask=002
user=root

[unix_http_server]
file=/var/run/supervisor.sock

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///var/run/supervisor.sock

[include]
files=/etc/supervisor/conf.d/*.conf

[program:nginx]
command=nginx
autostart=true
user={% if NGINX_PORT == '80' %}root{% elif ENABLE_DEV == 'Off' %}nginx{% else %}{{ USER }}{% endif %}
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0

[program:vsf]
command=yarn --cwd vsf start
autostart={% if NGINX_CONF == 'vsf' and NODE_START == 'yarn' %}true{% else %}false{% endif %}
user={% if ENABLE_DEV == 'Off' %}www-data{% else %}{{ USER }}{% endif %}
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0

[program:php-fpm]
command=php-fpm{{ PHP_VERSION }}
autostart={% if NGINX_CONF == 'vsf' %}false{% else %}true{% endif %}
user={% if ENABLE_DEV == 'Off' %}www-data{% else %}{{ USER }}{% endif %}
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0

[program:cron]
command=cron -l 2 -f
autostart={% if ENABLE_CRON == 'On' %}true{% else %}false{% endif %}
user=root
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0

[program:sshd]
command=/usr/sbin/sshd -D -p {{ SSH_PORT }} -e
autostart={% if ENABLE_SSH == 'On' %}true{% else %}false{% endif %}
user=root
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0

[program:chisel]
command=chisel server --socks5 --port {{ CHISEL_PORT }}
autostart={% if ENABLE_SSH == 'On' %}true{% else %}false{% endif %}
user=root
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0

[program:redis]
command=redis-server --save "" --dir "/var/lib/redis" --appendonly no
autostart={% if ENABLE_REDIS == 'On' %}true{% else %}false{% endif %}
user=redis
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
