[supervisord]
logfile=/tmp/supervisord.log
pidfile=/tmp/supervisord.pid
nodaemon=true

[include]
files=/etc/supervisor/conf.d/*.conf

[program:nginx]
command=nginx
autostart=true
redirect_stderr=true
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0

[program:php-fpm]
command=php-fpm
autostart=true
redirect_stderr=true
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0

[program:cron]
command=crond -l 2 -f
autostart={% if ENABLE_CRON == 'On' %}true{% else %}false{% endif %}
redirect_stderr=true
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
