[xdebug]
{% if XDEBUG_ENABLE == 'On' %}
zend_extension = xdebug.so
xdebug.remote_enable = On
xdebug.remote_autostart = Off
xdebug.remote_connect_back = On
xdebug.profiler_enable = On
xdebug.profiler_enable_trigger = On
xdebug.profiler_output_name = xdebug.out.%t
xdebug.profiler_output_dir = /var/www
{% endif %}