[xdebug]
{% if XDEBUG_ENABLE == 'On' %}
zend_extension = xdebug.so
xdebug.mode=debug
xdebug.max_nesting_level = 300
xdebug.cli_color = 1
xdebug.filename_format = %f
{% endif %}
{% if XDEBUG_HOST is defined and XDEBUG_HOST %}
xdebug.client_host = {{ XDEBUG_HOST }}
{% endif %}
